@model List<SliderModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                        <h4 class="mb-sm-0">Slider Listesi</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/Slider/Index">Sliderlar</a></li>
                                <li class="breadcrumb-item active">Slider Listesi</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Slider Listesi</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Başlık</th>
                                        <th>Alt Başlık</th>
                                        <th>Açıklama</th>
                                        <th>Alt Açıklama</th>
                                        <th>Link Yolu</th>
                                        <th>Resim Yolu</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="padding-top: 30px;">@Html.DisplayFor(modelItem => item.Title)</td>
                                            <td style="padding-top: 30px;">@Html.DisplayFor(modelItem => item.Subtitle)</td>
                                            <td style="padding-top: 30px;">
                                                @{
                                                    var description = @Html.DisplayFor(modelItem => item.Description).ToString();
                                                    var truncatedDescription = description.Length > 30 ? description.Substring(0, 30) + "..." : description;
                                                }
                                                @truncatedDescription
                                            </td>
                                            <td style="padding-top: 30px;">@Html.DisplayFor(modelItem => item.SubDescription)</td>
                                            <td style="padding-top: 30px;">
                                                @{
                                                    var infoUrl = @Html.DisplayFor(modelItem => item.InfoUrl).ToString();
                                                    var truncatedInfoUrl = infoUrl.Length > 30 ? infoUrl.Substring(0, 30) + "..." : infoUrl;
                                                }
                                                @truncatedInfoUrl
                                            </td>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal-@item.Id">
                                                    <img src="@item.ImgUrl" style="width: 100px; height: auto; object-fit: cover;" alt="Slider Resmi" />
                                                </a>
                                            </td>
                                            <td style="padding-top: 25px;">
                                                <a asp-action="Guncelle" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Güncelle</a>
                                                <!-- Silme Butonu -->
                                                <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-@item.Id">Sil</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <p>
                                <a asp-action="Ekle" class="btn btn-primary">Yeni Slider Ekle</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Velzon.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by Themesbrand
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Modal için HTML -->
@foreach (var item in Model)
{
    <!-- Slider Resim Modalı -->
    <div class="modal fade" id="imageModal-@item.Id" tabindex="-1" aria-labelledby="imageModalLabel-@item.Id" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel-@item.Id">Slider Resmi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="@item.ImgUrl" class="img-fluid" alt="Slider Resmi" />
                </div>
            </div>
        </div>
    </div>

    <!-- Silme Onayı Modalı -->
    <div class="modal fade" id="deleteModal-@item.Id" tabindex="-1" aria-labelledby="deleteModalLabel-@item.Id" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel-@item.Id">Silme Onayı</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bu sliderı silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                    <form asp-action="Sil" asp-route-id="@item.Id" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger">Evet, Sil</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
