@model List<BlogModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!-- Main Content Wrapper -->
<div role="main" class="main px-3 px-lg-5">
    <div class="page-header py-0 bg-primary px-3 px-xl-0 border-radius-2 p-relative mb-5">
        <div class="container p-relative z-index-1 py-2">
            <div class="row align-items-center py-4">
                <div class="col-8 col-md-7">
                    <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="0">
                        <span class="badge bg-color-dark-rgba-10 text-light rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-3"><span class="d-inline-flex py-1 px-2">blog sayfası</span></span>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                        <h1 class="text-dark text-9 text-lg-12 font-weight-semibold line-height-1 mb-2">Bloglarımızı inceleyebilirsiniz.</h1>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                        <ul class="breadcrumb d-flex text-3-5 font-weight-semi-bold pb-2 mb-3">
                            <li><a href="/" class="text-dark text-decoration-none">Anasayfa</a></li>
                            <li class="active">Blog Sayfası</li>
                        </ul>
                    </div>
                </div>
                <div class="col-4 col-md-5 p-relative">
                    <div class="opacity-2 p-absolute w-100 rotate-r-50 custom-pos-5 d-none d-lg-block">
                        <img src="img/icons/abstract-bg-1.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-secondary w-100'}" />
                    </div>
                    <div class="custom-mask-img custom-mask-img-4 custom-el-6">
                        <img src="~/assets2/img/demos/accounting-1/generic/blogHuman.jpg" loading="lazy" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title Section -->
    <div class="text-center my-5">
        <h3>U-ETDS Programı Blog</h3>
    </div>
    <!-- Main Container -->
    <div class="container">
        @foreach (var item in Model.Select((value, index) => new { index, value }))
        {
            <div class="custom-blog-item mb-4">
                <div class="row">
                    @if (item.index % 2 == 0)
                    {
                        <div class="col-md-4">
                            <div class="custom-blog-image">
                                <img src="@item.value.ImgUrl" alt="@item.value.Title" class="img-fluid rounded">
                            </div>
                            <div class="created-date text-center mt-2">
                                <medium class="text-muted" style="font-size: 1.1rem;">
                                    @(item.value.PublishedDate.HasValue ? item.value.PublishedDate.Value.ToString("D") : "Tarih yok")
                                </medium>



                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="custom-blog-content">
                                <h4 class="custom-blog-title">@item.value.Title</h4>
                                <p class="custom-blog-description">
                                    @item.value.Description.Substring(0, 150)...
                                </p>
                                <a class="btn btn-link p-0" href="/Blog/Detay/@item.value.Id">Devamı için tıklayınız</a>

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-8">
                            <div class="custom-blog-content">
                                <h4 class="custom-blog-title">@item.value.Title</h4>
                                <p class="custom-blog-description">
                                    @item.value.Description.Substring(0, 150)...
                                </p>
                                <a class="btn btn-link p-0" href="/Blog/Detay/@item.value.Id">Devamı için tıklayınız</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="custom-blog-image">
                                <img src="@item.value.ImgUrl" alt="@item.value.Title" class="img-fluid rounded">
                            </div>
                            <div class="created-date text-center mt-2">
                                <medium class="text-muted" style="font-size: 1.1rem;">
                                    @(item.value.PublishedDate.HasValue ? item.value.PublishedDate.Value.ToString("D") : "Tarih yok")
                                </medium>


                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

<style>
    .breadcrumb {
        font-size: 1.25rem;
        font-weight: bold;
    }

        .breadcrumb a, .breadcrumb .active {
            color: white;
        }

    .page-header {
        background-color: green;
        position: relative;
    }

    nav[aria-label="breadcrumb"] {
        position: absolute;
        top: 20px;
        width: 100%;
    }
</style>
